h1 {
    color: black;
    text-align: center;
}
.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #007bb4;
    color: white;
  }
  
/* Style the table */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bb4;
    color: white;
}

button {
    background-color: #007bb4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005f8a;
}

form {
    display: inline;
}

h2 {
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.product-image {
    width: 100px;
    height: auto;
}